/* Import font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');

/* Reset gaya default dan menerapkan gaya global */
* {
    font-family: 'Candara', sans-serif; /* Menggunakan font Candara */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

/* Pengaturan ukuran font untuk rem dan halaman HTML */
html {
    font-size: 62%; /* Menetapkan 1 rem = 10px (untuk memudahkan perhitungan) */
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/* Bagian Header */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: linear-gradient(90deg, #91A1AB, #CAD7DF, #5FA1C7, #ADB8C2);
    padding: 1rem 7%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
}

/* Logo */
header .logo {
    color: #000;
    font-size: 2.5rem;
    font-weight: bolder;
}

/* Ikon di dalam logo */
header .logo i {
    color: #E7E2E0;
}

/* Navigasi (Navbar) */
header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color: #666;
    margin-right: 15px;
}

/* Efek saat tombol di-hover */
header .navbar a.active,
header .navbar a:hover {
    color: #fff;
}

/* Ikon di bagian Header */
header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #192a56;
    border-radius: 50%;
    background: #eee;
}

/* Efek hover pada ikon */
header .icons i:hover,
header .icons a:hover {
    color: #fff;
    transform: rotate(360deg);
}

/* Menu ikon mobile */
header .icons #menu-bar {
    display: none;
}

/* Dropdown menu navbar */
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    font-size: 6px;
    margin-top: 5px;
}

/* Gaya dropdown menu */
.navbar ul.dropdown li {
    display: block;
}
.navbar ul.dropdown {
    width: 10%;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 5px;
    margin-left: 80px;
}
ul li a:hover {
    background: #000;
}
.navbar:hover ul.dropdown {
    display: block;
}

/* SEARCH CONTENT */
.search-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -200px;
}

/* Konten dalam kotak pencarian */
.content-box {
    position: relative;
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Input dalam kotak pencarian */
.content-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Ikon di dalam kotak pencarian */
.content-box a .fas {
    color: #192a56;
    font-size: 18px;
}

/* CSS KONTEN BOOK /*
/* Konten utama */
section .content {
    width: 100%; /* Gunakan lebar penuh pada konten */
}

/* Bagian header dengan gambar latar belakang */
.atas {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

/* Efek latar belakang overlay pada bagian header */
.atas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
    background-position: center;
}

/* Gaya teks pada bagian header */
h1 {
    color: white;
    padding-left: 20px;
    font-size: 50px;
    z-index: 1;
}
h2 {
    font-size: x-large;
    padding-left: 20px;
}
h3 {
    font-size: x-large;
}

/* Paragraf pada bagian header */
.atas p {
    color: black;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    padding: 20px;
}

/* Pengaturan flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Gaya kartu (card) */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
}

/* Gaya teks judul kartu */
.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Gaya gambar dalam kartu */
.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Gaya tombol */
button {
    background-color: #303030;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #444;
}
/* END CSS BOOK */

/* CSS KONTEN BOOK /*
/* Konten utama */
section .content {
    width: 100%; /* Gunakan lebar penuh pada konten */
}

/* Bagian header dengan gambar latar belakang */
.atas {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

/* Efek latar belakang overlay pada bagian header */
.atas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    filter: brightness(0.4);
    z-index: -1;
    background-position: center;
}

/* Gaya teks pada bagian header */
h1 {
    color: white;
    padding-left: 20px;
    font-size: 50px;
    z-index: 1;
}
h2 {
    font-size: x-large;
    padding-left: 20px;
}
h3 {
    font-size: x-large;
}

/* Paragraf pada bagian header */
.atas p {
    color: black;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Pengaturan flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Gaya kartu (card) */
.card {
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
}

/* Gaya teks judul kartu */
.card h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

/* Gaya gambar dalam kartu */
.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

/* Gaya tombol */
button {
    background-color: #EDD27C;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #444;
}

/* Gaya popup */
.popup {
    position: fixed;
    min-width: 70%;
    max-width: 80%;
    min-height: 10%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #91A1AB, #CAD7DF, #5FA1C7, #ADB8C2);
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 9999;
    overflow: auto; /* Menggunakan overflow auto agar muncul scrollbar jika kontennya lebih besar dari area popup */
    margin: 20px; /* Menambahkan jarak dari tepi popup ke elemen di sekitarnya */
}

/* Gaya teks judul dalam popup */
.popup-content h3 {
    font-size: 3rem;
    margin-bottom: 3rem; /* Menambahkan jarak di bawah judul */
    text-align: center; /* Pusatkan teks */
}

/* Gaya teks paragraf dalam popup */
.popup-content p {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: justify; /* Menyusun teks menjadi rata kiri-kanan */
}

/* Gaya tombol dalam popup */
.popup-content button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Menjadikan tombol sebagai elemen block agar berada pada baris yang terpisah */
    margin: left; /* Pusatkan tombol */
}


/* Gaya tombol close pada popup */
.close {
    font-size: 5rem; 
    float: right;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

/* Gaya footer */
.footer .footer-container {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center;
    flex-direction: column; /* Tambahkan orientasi kolom */
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer .footer-container #contact .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    margin-top: 20px; /* Beri jarak dari judul ke info kontak */
}

.footer .footer-container #contact .contact-info a {
    display: block;
    margin: 0 20px; /* Beri jarak antara info kontak */
    color: #666;
    text-decoration: none;
    font-size: 20PX; /* Perbesar ukuran font */
}

.footer .copyright {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    color: #192a56;
    padding: .5rem;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
